.loading__main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
}

.loading__text {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: $dark-gray;
}
